fluxo_API_banco_SA.json
[
    {
        "id": "490a298afe917368",
        "type": "tab",
        "label": "banco_de_dados_SA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b39239b8106ff026",
        "type": "mysql",
        "z": "490a298afe917368",
        "mydb": "2dbb7615410407f1",
        "name": "banco_de_dados",
        "x": 1210,
        "y": 100,
        "wires": [
            [
                "a7a8f2440c07327d"
            ]
        ]
    },
    {
        "id": "2e5498b69c9142d5",
        "type": "admin",
        "z": "490a298afe917368",
        "name": "Whats_Admin",
        "whatsappLink": "f797ee0856ce8398",
        "x": 1520,
        "y": 300,
        "wires": [
            []
        ],
        "info": "> WhatsApp de quem enviará a mensagem\r\n> recebida e enviada."
    },
    {
        "id": "6bbce539af7be9c1",
        "type": "chats-out",
        "z": "490a298afe917368",
        "name": "Envio_mensagem",
        "whatsappLink": "f797ee0856ce8398",
        "number": "",
        "x": 1310,
        "y": 300,
        "wires": [],
        "info": "> O arduino enviará a mensagem traduzida \r\n> para os números definidos  "
    },
    {
        "id": "97c92dd69984f1f9",
        "type": "serial in",
        "z": "490a298afe917368",
        "name": "serial_arduino",
        "serial": "2e8a395d2efeec8f",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "3177e5267d515424",
                "e0082f333aa6761c"
            ]
        ]
    },
    {
        "id": "e0082f333aa6761c",
        "type": "function",
        "z": "490a298afe917368",
        "name": "function_insert",
        "func": "msg.payload = {message_Table : msg.payload}\n// Setando valor para objeto\nmsg.topic = \"INSERT INTO arduino_table (`message_Table`,`date_time_Table`) VALUES (:message_Table , now());\"\n// Trocar o payload para topic e inserir no banco de dados\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 240,
        "wires": [
            [
                "0b3f48849363f4bb",
                "b39239b8106ff026"
            ]
        ]
    },
    {
        "id": "3177e5267d515424",
        "type": "debug",
        "z": "490a298afe917368",
        "name": "DEBUG DA SAÍDA DO ARDUINO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 60,
        "wires": []
    },
    {
        "id": "a7a8f2440c07327d",
        "type": "debug",
        "z": "490a298afe917368",
        "name": "DEBUG DA SAÍDA BANCO DE DADOS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 100,
        "wires": []
    },
    {
        "id": "0b3f48849363f4bb",
        "type": "debug",
        "z": "490a298afe917368",
        "name": "DEBUG DO FUNÇÃO INSERT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 140,
        "wires": []
    },
    {
        "id": "c0c3d35f32347d8d",
        "type": "inject",
        "z": "490a298afe917368",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "TESTADO",
        "payloadType": "str",
        "x": 660,
        "y": 300,
        "wires": [
            [
                "e0082f333aa6761c",
                "9627b5d097859157"
            ]
        ]
    },
    {
        "id": "9627b5d097859157",
        "type": "function",
        "z": "490a298afe917368",
        "name": "function_send_wpp",
        "func": "msg.toNumber = [\"+5547988071571\", \"+5547996552738\", \"+5547992852508\"]\nmsg.payload\n// enviar mensagem para esses números\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 280,
        "wires": [
            [
                "1efb7777afe7cc5d",
                "6bbce539af7be9c1"
            ]
        ]
    },
    {
        "id": "1efb7777afe7cc5d",
        "type": "debug",
        "z": "490a298afe917368",
        "name": "DEBUG DA FUNÇÃO ENVIAR MENSAGEM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1490,
        "y": 180,
        "wires": []
    },
    {
        "id": "6e596fc65b82ffc3",
        "type": "chats-in",
        "z": "490a298afe917368",
        "name": "Recebimento_mensagem",
        "whatsappLink": "1a3b71bd3b7869ec",
        "whatsappLiteevent": "",
        "whatsappWebevent": "message,message_revoke_me",
        "x": 690,
        "y": 200,
        "wires": [
            [
                "e0082f333aa6761c"
            ]
        ],
        "info": "> Mensagem recebida por terceiros;"
    },
    {
        "id": "2dbb7615410407f1",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "morse_code_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f797ee0856ce8398",
        "type": "whatsappLink",
        "cName": "whatsapp-web",
        "name": "Web",
        "clientType": "waWebClient",
        "onlineStatus": true,
        "loopTime": "5"
    },
    {
        "id": "2e8a395d2efeec8f",
        "type": "serial-port",
        "serialport": "COM8",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "1a3b71bd3b7869ec",
        "type": "whatsappLink",
        "cName": "whatsapp-web",
        "name": "Web",
        "clientType": "waWebClient",
        "onlineStatus": true,
        "loopTime": "5"
    }
]
